.item-menu{
    height: 170px;
    width: 170px;
    display: block;
    border-radius: 20px;
}
.img{
    margin-top: 5px;
}
.title-menu{
    margin-top: 15px;
}
.descrip{
    font-weight: 400;
    margin-top: 5px;
}