.brg {
    background-image: url('/bg-info.png');
    background-size: cover;
    background-position: center;
    width: 100%;
}

.content {
    margin-top: 40px;
    margin-left: 250px;
    width: 1100px;
}

@media (max-width: 1200px) {
    .content {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .content {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    
}
@media (max-width: 480px) {
    .content {
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-top: 100px;
    }
}
.menu-pack {
    padding: 20px;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .menu-pack {
        padding: 10px;
        row-gap: 20px;
    }
}

.title span {
    font-size: 2.2rem;
    font-weight: 600;
}
@media (max-width: 768px) {
    .title span {
        font-size: 1.8rem;
    }
}
