.brg{
    background-image: url('/bg-info.png');
    background-size: cover; /* Đảm bảo ảnh phủ kín toàn bộ phần tử */
    background-position: center; /* Canh giữa ảnh */
    width: 100%;
    // height: 95vh; /* Chiều cao toàn màn hình */
    
}
.content{
    margin-top: 40px;
    margin-left: 250px;
    width:1100px;
    // height: 500px;
}
.menu-pack{
   
    
    padding: 20px; /* Đệm để tạo khoảng cách với nội dung bên trong */
    row-gap: 30px; 
}

.title span{
    font-size: 2.2rem;
    font-weight: 600;
}