.wrapper {
  margin-left: 50px;

  h3 {
    text-align: center;
    font-size: 2.6rem;
  }
}

.filter {
  display: flex;
  gap: 20px; /* Khoảng cách giữa các phần tử */
  margin-bottom: 1rem;
  flex-direction: column;
}

.select-date label {
  margin-right: 10px;
  font-size: 2rem;
  font-weight: 500;
}

.filter input[type="date"] {
  font-size: 1.6rem;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.patient-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  font-size: 1.6rem;

  th,
  td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center; /* Căn giữa nội dung */
  }

  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }

  td {
    vertical-align: middle; /* Căn nội dung giữa theo chiều dọc */
  }
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.4rem;
  margin: 0 5px;
  color: #fff;
}

.btn-send {
  background-color: #007bff;

  &:hover {
    background-color: #0056b3;
  }
}

.btn-create {
  background-color: #28a745;

  &:hover {
    background-color: #218838;
  }
}

.btn-cancel {
  background-color: #dc3545;

  &:hover {
    background-color: #c82333;
  }
}

/* Hover cho các nút trong bảng */
.patient-table td a:hover {
  text-decoration: underline;
}

/* Căn giữa bảng */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prescription-overlay {
  position: fixed; /* Đặt overlay phủ toàn bộ màn hình */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền tối mờ */
  z-index: 999; /* Đảm bảo nằm dưới modal nhưng trên nội dung khác */
}
