.doctor-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.doctor-item {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.imgDoctor {
    text-align: center;
}

.img {
    border-radius: 50%;
    width: 150px;
    height: 150px;

    @media (max-width: 480px) {
        width: 120px;
        height: 120px;
    }
}

.infor {
    margin-top: 16px;
}

.infor h3 {
    font-size: 2rem;
}

.name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.detail {
    margin-top: 8px;
    text-align: center;
}

.detail span {
    display: block;
    font-size: 1.6rem;

    @media (max-width: 480px) {
        font-size: 1.4rem;
    }
}

.specialty {
    font-weight: 450;
    font-style: italic;
}

.icon {
    color: rgb(75, 192, 140);
}

.order {
    width: 100%;
    margin-top: 16px;
    text-align: center;
    cursor: pointer;
    padding: 8px 16px;
    background: linear-gradient(to left, rgb(68, 164, 150), rgb(76, 196, 139));
    border-radius: 4px;
    transition: background-color 0.3s;
}

a {
    text-decoration: none !important;
}

.order span {
    font-size: 1.8rem;
    color: white;

    @media (max-width: 480px) {
        font-size: 1.4rem;
    }
}
