.wrapper{
    width: 100%;
    // height: 100px;
}
.brg{
    background-image: url('bg-info.png');
    background-size: cover; /* Đảm bảo ảnh phủ kín toàn bộ phần tử */
    background-position: center; /* Canh giữa ảnh */
    width: 100%;

}
.content{
    margin-top: 40px;
    margin-left: 270px;
    width:1000px;
    // height: 500px;
}
.menu-doctor{
    margin-top: 30px;
    row-gap: 30px; 
}

.title span{
    font-size: 2.3rem;
    font-weight: 600;
}