.wrapper {
    width: 100%;
}

.brg {
    background-image: url('/bg-info.png');
    background-size: cover;
    background-position: center;
    width: 100%;
}

.content {
    margin-top: 40px;
    margin-left: 270px;
    width: 1000px;

    @media (max-width: 1024px) {
        margin-left: 50px;
        width: 90%;
    }

    @media (max-width: 768px) {
        margin-left: 20px;
        width: calc(100% - 40px);
    }

    @media (max-width: 480px) {
        margin-left: 10px;
        width: calc(100% - 20px);
    }
}

.menu-doctor {
    margin-top: 30px;
    row-gap: 30px;
}

.title span {
    font-size: 2.3rem;
    font-weight: 600;

    @media (max-width: 480px) {
        font-size: 1.8rem;
    }
}
