@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{

}
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Roboto", serif;
    // font-size: 2rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
html, body {
    height: 100%; /* Đảm bảo body chiếm toàn bộ chiều cao */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Ngăn cuộn ngang */
}
.custom-toast {
  font-size: 1.6rem;        /* 👈 Cỡ chữ to hơn */
  font-weight: bold;      /* 👈 Tuỳ chọn: in đậm */
  padding: 12px 16px;
}