.background{
    background-image: url('../../../bgr.png');
    background-size: cover; /* Đảm bảo ảnh phủ kín toàn bộ phần tử */
    background-position: center; /* Canh giữa ảnh */
    width: 100%;
    height: 95vh; /* Chiều cao toàn màn hình */
    display: flex;
}
.wrapper{
   margin-top: 80px;
   margin-left: 120px;
    width:700px;
    height: 500px;
}
